In [1]:
! pip install pandas

import pandas as pd

Requirement already satisfied: pandas in c:\users\yunus\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\yunus\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\yunus\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\yunus\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\yunus\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [8]:
pd.read_csv('top_chess_players_aug_2020.csv').head(5)

C:\Users\Yunus\AppData\Local\Temp\ipykernel_18676\2139487004.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('top_chess_players_aug_2020.csv').head(5)

,Fide id,Name,Federation,Gender,Year_of_birth,Title,Standard_Rating,Rapid_rating,Blitz_rating,Inactive_flag
0,1503014,"Carlsen, Magnus",NOR,M,1990.0,GM,2863.0,2881.0,2886.0,NaN
1,2020009,"Caruana, Fabiano",USA,M,1992.0,GM,2835.0,2773.0,2711.0,NaN
2,4100018,"Kasparov, Garry",RUS,M,1963.0,GM,2812.0,2783.0,2801.0,i
3,8603677,"Ding, Liren",CHN,M,1992.0,GM,2791.0,2836.0,2788.0,NaN
4,4168119,"Nepomniachtchi, Ian",RUS,M,1990.0,GM,2784.0,2778.0,2785.0,NaN

In [9]:
pd.read_csv('ChessRating.csv').head(5)

   Rank            Name  Country  Classic   Rapid   Blitz  Age
0     1         Carlsen   Norway   2855.0  2842.0  2892.0   30
1     2      Ding Liren    China   2799.0  2836.0  2788.0   28
2     3         Caruana      USA   2786.4  2775.0  2765.0   29
3     4  Nepomniachtchi   Russia   2782.0  2798.0  2792.0   31
4     5         Aronian  Armenia   2782.0  2761.0  2767.0   39

In [11]:
pd.read_csv('IMDB Top 250 Movies.csv').head(5)

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola"
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",R,3h 22m,All the power on earth can't change destiny.,13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo"
4,5,12 Angry Men,1957,9.0,"Crime,Drama",Approved,1h 36m,Life Is In Their Hands -- Death Is On Their Mi...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney Lumet,Reginald Rose

In [12]:
top5 = pd.read_csv('top_chess_players_aug_2020.csv').head(5)

C:\Users\Yunus\AppData\Local\Temp\ipykernel_18676\1146194878.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  top5 = pd.read_csv('top_chess_players_aug_2020.csv').head(5)

In [14]:
top5

,Fide id,Name,Federation,Gender,Year_of_birth,Title,Standard_Rating,Rapid_rating,Blitz_rating,Inactive_flag
0,1503014,"Carlsen, Magnus",NOR,M,1990.0,GM,2863.0,2881.0,2886.0,NaN
1,2020009,"Caruana, Fabiano",USA,M,1992.0,GM,2835.0,2773.0,2711.0,NaN
2,4100018,"Kasparov, Garry",RUS,M,1963.0,GM,2812.0,2783.0,2801.0,i
3,8603677,"Ding, Liren",CHN,M,1992.0,GM,2791.0,2836.0,2788.0,NaN
4,4168119,"Nepomniachtchi, Ian",RUS,M,1990.0,GM,2784.0,2778.0,2785.0,NaN

In [21]:
amerika = top5['Federation'] == 'USA'

In [22]:
top5[amerika]

,Fide id,Name,Federation,Gender,Year_of_birth,Title,Standard_Rating,Rapid_rating,Blitz_rating,Inactive_flag
1,2020009,"Caruana, Fabiano",USA,M,1992.0,GM,2835.0,2773.0,2711.0,NaN

In [24]:
rusya = top5['Federation']== 'RUS'

In [25]:
top5[rusya]

,Fide id,Name,Federation,Gender,Year_of_birth,Title,Standard_Rating,Rapid_rating,Blitz_rating,Inactive_flag
2,4100018,"Kasparov, Garry",RUS,M,1963.0,GM,2812.0,2783.0,2801.0,i
4,4168119,"Nepomniachtchi, Ian",RUS,M,1990.0,GM,2784.0,2778.0,2785.0,NaN

In [43]:
pd.read_csv('Pokemon.csv').head(100)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,88,Grimer,Poison,NaN,325,80,80,50,40,50,25,1,False
96,89,Muk,Poison,NaN,500,105,105,75,65,100,50,1,False
97,90,Shellder,Water,NaN,305,30,65,100,45,25,40,1,False
98,91,Cloyster,Water,Ice,525,50,95,180,85,45,70,1,False
99,92,Gastly,Ghost,Poison,310,30,35,30,100,35,80,1,False

In [28]:
pokemon = pd.read_csv('Pokemon.csv')

In [29]:
ates = pokemon['Type 1'] == 'Fire'

In [30]:
ates

0      False
1      False
2      False
3      False
4       True
       ...
795    False
796    False
797    False
798    False
799     True
Name: Type 1, Length: 800, dtype: bool

In [31]:
pokemon[ates]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,505,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,555,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,500,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,495,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,525,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,309,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,534,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,250,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,410,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,365,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,310,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,405,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,530,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,305,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,460,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,560,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,470,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,309,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,405,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,534,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,540,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,308,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,528,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,316,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,498,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,315,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,480,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,540,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,484,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,307,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,409,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,534,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,382,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,499,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [32]:
ates2 = pokemon['Type 2'] == 'Fire'

In [33]:
pokemon[ates2]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
246,228,Houndour,Dark,Fire,330,45,60,30,80,50,65,2,False
247,229,Houndoom,Dark,Fire,500,75,90,50,110,80,95,2,False
248,229,HoundoomMega Houndoom,Dark,Fire,600,75,90,90,140,90,115,2,False
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
532,479,RotomHeat Rotom,Electric,Fire,520,50,65,107,105,107,86,4,False
553,494,Victini,Psychic,Fire,600,100,100,100,100,100,100,5,True
668,607,Litwick,Ghost,Fire,275,50,30,55,65,55,20,5,False
669,608,Lampent,Ghost,Fire,370,60,40,60,95,60,55,5,False
670,609,Chandelure,Ghost,Fire,520,60,55,90,145,90,80,5,False
697,636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False
698,637,Volcarona,Bug,Fire,550,85,60,65,135,105,100,5,False
706,643,Reshiram,Dragon,Fire,680,100,120,100,150,120,90,5,True

In [39]:
pokemon[ates | ates2].head(50)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,505,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,555,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,500,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,495,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,525,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,309,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,534,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,250,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,410,50,50,120,80,80,30,2,False
246,228,Houndour,Dark,Fire,330,45,60,30,80,50,65,2,False
247,229,Houndoom,Dark,Fire,500,75,90,50,110,80,95,2,False
248,229,HoundoomMega Houndoom,Dark,Fire,600,75,90,90,140,90,115,2,False
259,240,Magby,Fire,NaN,365,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,310,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,405,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,530,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,305,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,460,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,560,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,470,70,85,140,85,70,20,3,False
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
435,390,Chimchar,Fire,NaN,309,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,405,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,534,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,540,75,95,67,125,95,83,4,False
532,479,RotomHeat Rotom,Electric,Fire,520,50,65,107,105,107,86,4,False
542,485,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True
553,494,Victini,Psychic,Fire,600,100,100,100,100,100,100,5,True
557,498,Tepig,Fire,NaN,308,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,528,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,316,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,498,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,315,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,480,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,540,105,30,105,140,105,55,5,False
668,607,Litwick,Ghost,Fire,275,50,30,55,65,55,20,5,False

In [44]:
dragon = pokemon['Type 2'] == 'Dragon'

In [45]:
pokemon[dragon & ates]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False

In [46]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [47]:
faster = pokemon['Speed'] > 100

In [48]:
pokemon[faster]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
31,26,Raichu,Electric,NaN,485,60,90,55,90,80,110,1,False
56,51,Dugtrio,Ground,NaN,405,35,80,50,50,70,120,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
765,695,Heliolisk,Electric,Normal,481,62,55,52,109,94,109,6,False
771,701,Hawlucha,Fighting,Flying,500,78,92,75,74,63,118,6,False
772,702,Dedenne,Electric,Fairy,431,67,58,57,81,67,101,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True

In [49]:
pokemon[faster & dragon]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
275,254,SceptileMega Sceptile,Grass,Dragon,630,70,110,75,145,85,145,3,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False

In [53]:
pokemon['Type 1'].value_counts().unique()

array([112,  98,  70,  69,  57,  52,  44,  32,  31,  28,  27,  24,  17,
         4], dtype=int64)

In [52]:
pokemon['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [55]:
pd.read_csv('IMDB Top 250 Movies.csv').head(20)

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola"
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",R,3h 22m,All the power on earth can't change destiny.,13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo"
4,5,12 Angry Men,1957,9.0,"Crime,Drama",Approved,1h 36m,Life Is In Their Hands -- Death Is On Their Mi...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney Lumet,Reginald Rose
5,6,Schindler's List,1993,9.0,"Biography,Drama,History",R,3h 15m,"Whoever saves one life, saves the world entire.",22000000,322161245,"Liam Neeson,Ralph Fiennes,Ben Kingsley,Carolin...",Steven Spielberg,"Thomas Keneally,Steven Zaillian"
6,7,The Lord of the Rings: The Return of the King,2003,9.0,"Action,Adventure,Drama",PG-13,3h 21m,The eye of the enemy is moving.,94000000,1146457748,"Elijah Wood,Viggo Mortensen,Ian McKellen,Orlan...",Peter Jackson,"J.R.R. Tolkien,Fran Walsh,Philippa Boyens"
7,8,Pulp Fiction,1994,8.9,"Crime,Drama",R,2h 34m,Girls like me don't make invitations like this...,8000000,213928762,"John Travolta,Uma Thurman,Samuel L. Jackson,Br...",Quentin Tarantino,"Quentin Tarantino,Roger Avary"
8,9,The Lord of the Rings: The Fellowship of the Ring,2001,8.8,"Action,Adventure,Drama",PG-13,2h 58m,The Legend Comes to Life,93000000,898204420,"Elijah Wood,Ian McKellen,Orlando Bloom,Sean Be...",Peter Jackson,"J.R.R. Tolkien,Fran Walsh,Philippa Boyens"
9,10,"The Good, the Bad and the Ugly",1966,8.8,"Adventure,Western",Approved,2h 58m,They formed an alliance of hate to steal a for...,1200000,25253887,"Clint Eastwood,Eli Wallach,Lee Van Cleef,Aldo ...",Sergio Leone,"Luciano Vincenzoni,Sergio Leone,Agenore Incrocci"
10,11,Forrest Gump,1994,8.8,"Drama,Romance",PG-13,2h 22m,The story of a lifetime.,55000000,678226465,"Tom Hanks,Robin Wright,Gary Sinise,Sally Field...",Robert Zemeckis,"Winston Groom,Eric Roth"
11,12,Fight Club,1999,8.8,Drama,R,2h 19m,How much can you know about yourself if you've...,63000000,101209702,"Brad Pitt,Edward Norton,Meat Loaf,Zach Grenier...",David Fincher,"Chuck Palahniuk,Jim Uhls"
12,13,The Lord of the Rings: The Two Towers,2002,8.8,"Action,Adventure,Drama",PG-13,2h 59m,A New Power Is Rising.,94000000,947944270,"Elijah Wood,Ian McKellen,Viggo Mortensen,Orlan...",Peter Jackson,"J.R.R. Tolkien,Fran Walsh,Philippa Boyens"
13,14,Inception,2010,8.8,"Action,Adventure,Sci-Fi",PG-13,2h 28m,Your mind is the scene of the crime,160000000,836848102,"Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot ...",Christopher Nolan,Christopher Nolan
14,15,Star Wars: Episode V - The Empire Strikes Back,1980,8.7,"Action,Adventure,Fantasy",PG,2h 4m,The Adventure Continues...,18000000,538375067,"Mark Hamill,Harrison Ford,Carrie Fisher,Billy ...",Irvin Kershner,"Leigh Brackett,Lawrence Kasdan,George Lucas"
15,16,The Matrix,1999,8.7,"Action,Sci-Fi",R,2h 16m,Free your mind,63000000,467222728,"Keanu Reeves,Laurence Fishburne,Carrie-Anne Mo...","Lana Wachowski,Lilly Wachowski","Lilly Wachowski,Lana Wachowski"
16,17,Goodfellas,1990,8.7,"Biography,Crime,Drama",R,2h 25m,"""As far back as I can remember, I've always wa...",25000000,47036784,"Robert De Niro,Ray Liotta,Joe Pesci,Lorraine B...",Martin Scorsese,"Nicholas Pileggi,Martin Scorsese"
17,18,One Flew Over the Cuckoo's Nest,1975,8.7,Drama,18+,2h 13m,"If he's crazy, what does that make you?",3000000,109114817,"Jack Nicholson,Louise Fletcher,Michael Berryma...",Milos Forman,"Lawrence Hauben,Bo Goldman,Ken Kesey"
18,19,Se7en,1995,8.6,"Crime,Drama,Mystery",R,2h 7m,"Long is the way, and hard, that out of hell le...",33000000,327333559,"Morgan Freeman,Brad Pitt,Kevin Spacey,Andrew K...",David Fincher,Andrew Kevin Walker
19,20,Seven Samurai,1954,8.6,"Action,Drama",Not Rated,3h 27m,Will Take Its Place With the Seven Greatest Fi...,125000000,346258,"Toshirô Mifune,Takashi Shimura,Keiko Tsushima,...",Akira Kurosawa,"Akira Kurosawa,Shinobu Hashimoto,Hideo Oguni"

In [56]:
imdb = pd.read_csv('IMDB Top 250 Movies.csv')

In [62]:
highest = imdb['rating']>8.0

In [63]:
imdb[highest]

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola"
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",R,3h 22m,All the power on earth can't change destiny.,13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo"
4,5,12 Angry Men,1957,9.0,"Crime,Drama",Approved,1h 36m,Life Is In Their Hands -- Death Is On Their Mi...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney Lumet,Reginald Rose
...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,242,It Happened One Night,1934,8.1,"Comedy,Romance",Passed,1h 45m,Two great lovers of the screen in the grandest...,325000,11477,"Clark Gable,Claudette Colbert,Walter Connolly,...",Frank Capra,"Robert Riskin,Samuel Hopkins Adams"
242,243,Persona,1966,8.1,"Drama,Thriller",Not Rated,1h 23m,A new film by Ingmar Bergman,Not Available,Not Available,"Bibi Andersson,Liv Ullmann,Margaretha Krook,Gu...",Ingmar Bergman,Ingmar Bergman
244,245,The Iron Giant,1999,8.1,"Animation,Action,Adventure",PG,1h 26m,Some secrets are too huge to hide,70000000,23335817,"Eli Marienthal,Harry Connick Jr.,Jennifer Anis...",Brad Bird,"Tim McCanlies,Brad Bird,Ted Hughes"
245,246,The Help,2011,8.1,Drama,PG-13,2h 26m,Change begins with a whisper.,25000000,216639112,"Viola Davis,Emma Stone,Octavia Spencer,Bryce D...",Tate Taylor,"Tate Taylor,Kathryn Stockett"
246,247,Dersu Uzala,1975,8.2,"Adventure,Biography,Drama",G,2h 22m,There is man and beast at nature's mercy. Ther...,4000000,14480,"Maksim Munzuk,Yuriy Solomin,Mikhail Bychkov,Vl...",Akira Kurosawa,"Akira Kurosawa,Yuriy Nagibin,Vladimir Arsenev"

In [70]:
king = imdb['casts'].str.contains('Christian Bale')

In [71]:
imdb[king]

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
40,41,The Prestige,2006,8.5,"Drama,Mystery,Sci-Fi",PG-13,2h 10m,A Friendship That Became a Rivalry.,40000000,109676311,"Christian Bale,Hugh Jackman,Scarlett Johansson...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,Christopher P..."
68,69,The Dark Knight Rises,2012,8.4,"Action,Drama",PG-13,2h 44m,The Legend Ends,250000000,1081169825,"Christian Bale,Tom Hardy,Anne Hathaway,Gary Ol...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
126,127,Batman Begins,2005,8.2,"Action,Crime,Drama",PG-13,2h 20m,The Legend Begins,150000000,373672993,"Christian Bale,Michael Caine,Ken Watanabe,Liam...",Christopher Nolan,"Bob Kane,David S. Goyer,Christopher Nolan"
163,164,Howl's Moving Castle,2004,8.2,"Animation,Adventure,Family",PG,1h 59m,imationAdventureFamilyFantasy,24000000,237536126,"Chieko Baisho,Takuya Kimura,Tatsuya Gashûin,Ak...",Hayao Miyazaki,"Hayao Miyazaki,Diana Wynne Jones"
209,210,Ford v Ferrari,2019,8.1,"Action,Biography,Drama",PG-13,2h 32m,They took the American dream for a ride.,97600000,225508210,"Matt Damon,Christian Bale,Jon Bernthal,Caitrío...",James Mangold,"Jez Butterworth,John-Henry Butterworth,Jason K..."

In [87]:
def aktors(artist):
    kelime  = imdb['casts'].str.contains(artist) 
    df = imdb[kelime]
    return df

In [92]:
save = aktors('Leonardo DiCaprio')

In [93]:
save.to_excel('leonardo.xlsx')